.container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  background-color: bisque;

  .contOut {
    font-size: 30px;
  }

  button {
    margin: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 35px;
  }
}
